[submodule "xchat"]
	path = xchat
	url = ../xchataqua-xchat
[submodule "glib"]
	path = glib
	url = ../xchataqua-glib
[submodule "Mac/Plugins/ruby"]
	path = Mac/Plugins/ruby
	url = ../xchataqua-xchatruby
[submodule "Resources/theme/Solarized"]
	path = Resources/theme/Solarized
	url = ../xchataqua-xchat-colors-solarized
